$primaryColor:#ED1164;
$secondaryColor:#91A3AD;
$lightGreyColor:#FFEBF2;
$mediumGreyColor:#91A3AD;
$darkGreyColor: #575757;
$errorColor:#DE4416;
$errorBackGroundColor:#FFF9F7;

$mediaDesktop: 1040px;
